.container {
  margin-top: 20px;
  background-color: #eee;
}
.card-title {
  padding: 20px 0;
}
.project-list-table {
  border-collapse: separate;
  border-spacing: 0 12px
}
.project-list-table tr {
  background-color: #fff
}
.table-nowrap td, .table-nowrap th {
  white-space: nowrap;
}
.table-borderless>:not(caption)>*>* {
  border-bottom-width: 0;
}
.table>:not(caption)>*>* {
  padding: 0.75rem 0.75rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.rounded-circle {
  border-radius: 50%!important;
}
.me-2 {
  margin-right: 0.5rem!important;
}
img, svg {
  vertical-align: middle;
}
a {
  color: #3b76e1;
  text-decoration: none;
}
